label {
    font-size: 1em;
    color: black;
}

body {
    display: grid;
    min-height: 100%;
    grid-template-columns: 50px auto 50px;
    grid-template-areas: "header" "main" "footer";
}

main {
    grid-area: main;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

footer a {
    display: flex;
    text-align: center;
}

html {
    height: 100%;
}